.place__website {
    max-width: 456px;
    align-items: center;
    align-self: flex-end; /* Это грид-элемент контейнера "place". Если убрать, то будет не по макету, в моих браузерах работает. 
    Пример-скриншот без этого свойства: https://disk.yandex.ru/i/4CbJWAGxUnJZSg   */
}
@media screen and (max-width: 760px) {
    .place__website {
        align-self: flex-start; /* Это уже флекс-элемент контейнера "place" на размере экрана max 760px.
        Пример-скриншот без этого свойства: https://disk.yandex.ru/i/tPoK5pnO9QJUCA    */
        order: 2;
        margin-top: 32px;
        margin-bottom: 32px;
        margin-left: 16px;
    }
}