.place {
    display: grid;
    column-gap: 40px;
    row-gap: 48px;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    grid-template-rows: repeat(2, min-content);
    grid-auto-flow: column;
    margin-bottom: 73px;
}
@media screen and (max-width: 760px) {
    .place {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 0;
        align-items: center;
    }
}
@media screen and (max-width: 425px) {
    .place {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 0;
        align-items: center;
        margin-bottom: 25px;
    }
}