.intro__list {
    max-width: 690px;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}
.intro__list p {
    margin: 0;
}
@media screen and (max-width: 320px) {
    .intro__list {
        width: 90%;
        margin: auto;
        margin-top: 34px;
    }
}
.intro__list-span {
    font-weight: 400;
}